 .h1{
    color: rgb(54, 27, 206);
    font-size: 60px;
    text-align: center;
 } 
  .h2{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia1{
   color: white;
    font-size: 20px;
    text-align: center; 
}
.b1{
                  font-size: 30px;
                  background-color: aqua;
                  margin-left: 140px;
}
          
.h2{
   color: white;
    font-size: 40px;
    text-align: center; 
}
.Jamia2{
    color: white;
    font-size: 20px;
    text-align: center; 
  }
  .b2{
    font-size: 30px;
    background-color: aqua;
    margin-left: 140px;
  }
.h3{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia3{
    color: white;
    font-size: 20px;
    text-align: center;
      }
.b3{
    font-size: 30px;
    background-color: aqua;
    margin-left: 140px;
}
.h4{
    color: white;
    font-size: 40px;
    text-align: center; 
}
.Jamia4{
    color: white;
    font-size: 20px;
    text-align: center;
}
.b4{
    font-size: 30px;
    background-color: aqua;
    margin-left: 140px;
}

.h5{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia5{
    color: white;
    font-size: 20px;
    text-align: center;
}
.b5{
    font-size: 30px;
    background-color: aqua;
    margin-left: 140px;
}
.h6{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia6{
    color: white;
    font-size: 20px;
    text-align: center;
}
.b6{
    font-size: 30px;
    background-color: aqua;
    margin-left: 140px;
}